<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
</head>
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<body>
<div style="border: 2px solid black;border-radius: 20px">
<div>
    <img src="{{ base_dir ~ asset('img/hypermedia.png') }}" style="float: left" width="130" height="100">
</div>
    <img src="{{ base_dir ~ asset('img/slogan.png') }}" style="padding-top: 40px;display: block; margin: 0px auto" width="250" height="30">
    <p style="font-size: 18px;text-align: center;font-family: Open Sans;margin-right: 130px">Agence de développement web offshore</p>
    <p style="padding-right: 80px; display: inline-block;font-size: 14px; padding-left: 10px">Tel : 74 408 885</p>
<p style="display: inline-block;font-size: 14px; float: right">Email : contact@hypermedia.com.tn</p>
</div>
</body>
</html>
